<a href="https://colab.research.google.com/github/mronhemrdpgimer-dotcom/pythonclass/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
salary= 25000
annual_sal= salary*12
print("the annual salary is", annual_sal)

the annual salary is 300000

In [ ]:
a= 30
b= 20
if a>b:
  print("a is greater than b")
else:
    print("b is greater than a")

a is greater than b

In [ ]:
salary= 45000
annual_sal= salary*12
print("the annual salary is", annual_sal)

the annual salary is 540000

In [ ]:
salary= 50000
annual_sal= salary*12
print("the annual salary is", annual_sal)

the annual salary is 600000

In [ ]:

salary= int(input("enter the monthly salary"))
annual_sal= salary*12
print("the annual salary is", annual_sal)
if annual_sal>500000:
  bonus=salary*10/100
  print(bonus)
elif annual_sal>400000 and annual_sal<500000:
  bonus=salary*7/100
  print(bonus)
else:
  bonus=salary*5/100
  print(bonus)

enter the monthly salar40000
the annual salary is 480000
2800.0

In [ ]:
phy= int(input("enter the marks of Physics"))
chem= int(input("enter the marks of Chemistry"))
math= int(input("enter the marks of Math"))
total= phy+chem+math
print(total)
per= total*100/300
print("percentage of the students", per)
if per>85:
  print("A+")
elif per>70 and per<85:
  print("A")
else:
  print("B")

enter the marks of Physics77
enter the marks of Chemistry88
enter the marks of Math99
264
percentage of the students 88.0
A+

In [ ]:
a= 30
b= 40
c= 50
if a>=b and a>=c:
  print("a is greater")

elif b>=a and b>=c:
  print("b is greater")

else:
  print("c is greater")

c is greater

In [ ]:
a= int(input("enter the a price is:"))
b= int(input("enter the b price is:"))
c= int(input("enter the c price is:"))
bill= a+b+c

if bill>1000:

  discount= bill*0.10

  print("the discount is:", discount)
  net_bill= (bill-discount)

  print("the net_bill is:", net_bill)

elif bill>500 and bill<1000:

  discount= bill*0.05

  print("the discount is:",discount)
  net_bill= (bill-discount)
  print("the net_bill is:", net_bill)

else:

  discount= bill*0.03

  print("the discount is:", discount)
  net_bill= (bill-discount)
  print("the net_bill is:", net_bill)

enter the a price is:500
enter the b price is:100
enter the c price is:200
the discount is: 40.0
the net_bill is: 760.0

In [ ]:
weather= int(input("enter the today weather is:"))

if weather<=10:
  print("too cold")

elif weather>10 and weather<20:
   print("mild cold")

else:
   print("normal")

enter the today weather is:15
mild cold

In [ ]:
num= float(input("enter a number:"))

if num>0:
  print("the number is positive")

elif num<0:
  print("the number is negative")

else:
  print("the number is zero")

enter a number:0
the number is zero

In [ ]:
units= int(input("enter number of units consumed:"))

if units<=100:
  bill= units*5
  print("the total electricity bill rs.:", bill)

elif units<=200:
  bill= (100*5)+(units-100)*7
  print("the total electricity bill rs.:", bill)

else:
  bill= (100*5)+(100*7)+(units-200)*10
  print("the total electricity bill rs.:", bill)

enter number of units consumed:200
the total electricity bill rs.: 1200

In [ ]:
correct_username= "admin"
correct_password= "pass123"

username= input("enter username:")
password= input("enter password:")

if username==correct_username and password==correct_password:
   print("login successful")

elif username!= correct_username:
  print("invalid username")

else:
  print("invalid password")

enter username:admin
enter password:pass1234
invalid password

In [ ]:
number= int(input("enter an integer:"))

if number%2==0:
  print("the number is even.")

else:
  print("the number is odd.")

enter an integer:3
the number is odd.

In [ ]:
#Loops: Repeating task
# for loop:

fruits= ("apple","mango","banana","orange","kiwi")

# print(fruits(2)) # index no.

for fruit in fruits:

  print(fruit)

apple
mango
banana
orange
kiwi

In [ ]:
#loop with range
for i in range(1,10):# RANGE(STARTING_POINT,ENDINGPOINT-1)
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# Loop with range()

num=int(input("enter the no : "))

for i in range(1,11): #range(starting_point, endingpoint-1)
    mul=num*i

    print(f" {num}*{i}={mul}")

  #F-string (it will allow you to write variable and string together)

enter the no : 7
 7*1=7
 7*2=14
 7*3=21
 7*4=28
 7*5=35
 7*6=42
 7*7=49
 7*8=56
 7*9=63
 7*10=70

In [ ]:
#loop with range
for i in range(1,11):# RANGE(STARTING_POINT,ENDINGPOINT-1)
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num=int(input("enter the no : "))

for i in range(1,11): #range(starting_point, endingpoint-1)
    mul=num*i

    print(f" {num}*{i}={mul}")

enter the no : 5
 5*1=5
 5*2=10
 5*3=15
 5*4=20
 5*5=25
 5*6=30
 5*7=35
 5*8=40
 5*9=45
 5*10=50

In [ ]:
n=int(input("enter the number n:"))

total = 0

for i in range(1, n+1):

  total +=i

print ("sum",total)

enter the number n:5
sum 15

In [ ]:
text = "hello"

for char in text:

     print(char)

h
e
l
l
o

In [ ]:
num = int(input("enter a number:"))

if num>0:
  result = 1
  for i in range (1, num+1):
    result*=i
    print(result)
else:
  print("enter the positive no")

In [ ]:
for i in range (10,0,-1):

  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:


#Dictionaries: key value pair , keys- unique nd immutable

my_dict = {
          "name" :"Pooja",
          "age" : 30,
          "city": "Chd"

}

print(my_dict)
#access a values
print(my_dict["name"])

#add or update an item

my_dict["age"] =35

print(my_dict)

#get all keys or values

key= my_dict.keys()

print(key)

values= my_dict.values()

print(values)

{'name': 'Pooja', 'age': 30, 'city': 'Chd'}
Pooja
{'name': 'Pooja', 'age': 35, 'city': 'Chd'}
dict_keys(['name', 'age', 'city'])
dict_values(['Pooja', 35, 'Chd'])

In [ ]:
 #concatenate

first = "Hello"
second = "World"

result = first + second
print(result)

In [ ]:
#repetition

laugh = "ha"
print(laugh*5)
print(laugh.upper())

hahahahaha
HA

In [ ]:
#replacing text
text = "Python is fun"
new_text = text.replace("fun", "awesome")
print(new_text)

Python is awesome

In [ ]:
#substring

msg= "Python in awesome"
print(msg.find("Python"))

0

In [ ]:
#Splitting nd joining
data= "apple,banana,cherry"

fruits= data.split(",")
print(fruits)

joined = " | ".join(fruits)
print(joined)

['apple', 'banana', 'cherry']
apple | banana | cherry

In [ ]:
#Data Stucture : list, tuples, set, dictionaries


#List and Tuples : used to store collection of items

#how to create list :

fruits= ['apple', 'banana', 'cherry','mango'] #list mutable - add, remove, modify

#Access the element

print(fruits[2])

#modify element

fruits[1] = 'bluberry'

print(fruits)

#Add new element

fruits.append('orange')

print(fruits)

#removing element

fruits.remove('cherry')

print(fruits)

cherry
['apple', 'bluberry', 'cherry', 'mango']
['apple', 'bluberry', 'cherry', 'mango', 'orange']
['apple', 'bluberry', 'mango', 'orange']

In [ ]:
# Tuples : like a list, but immutable (you can not change its content after creation)

colors= ('red', 'green', 'blue')

print(colors)

('red', 'green', 'blue')

In [ ]:
 #Set : unorderd collection of unique elements(no duplicates elements allowed), immutable, no indexing allowed.


my_set = {1,2,3,4 }

print(my_set)
a= {1,2,3}
b= {3,4,5}

#union :

print(a.union(b))

#intersection

print(a.intersection(b))

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{3}

In [ ]:

#function and Module: function is a reusable block of codes that perform a specific task

#user defined function :

def greet(name): #how we declare a function

  print(f"Hello, {name}")

#calling a function

greet("Vanshika")

Hello, Vanshika

In [ ]:
a= 10
name= "Vanshika"

print (f" The value of a is {a} {name}  ")

 The value of a is 10 Vanshika

In [ ]:
def add(a,b): #create a function with 2 variable (Function with return value)
  return a+b # sum of variable function will resturn

result = add(15,30) #function calling

print(result)

45

In [ ]:
def age_detect(age):
  if age>18:
     print("you are young")
  else:
     print("you are kid")

age_detect(12)

you are kid

In [ ]:
#Function with Dafualt Parameter

def greet(name="temp"):
  print(f"welcome {name}")
greet("vanshika")

greet()

welcome vanshika
welcome temp

In [ ]:
def check_even_odd(number):
    if number % 2 == 0:
        return "even"
    else:
        return "odd"

In [ ]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    elif n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
def greet_user(name="Guest"):
    print(f"Hello, {name}!")

In [ ]:
a= int(input("enter the a value is:"))
b= int(input("enter the b value is:"))
c= int(input("enter the c value is:"))

def find_greatest(a, b, c):

    if a >= b and a >= c:
        return a

    elif b >= a and b >= c:
        return b

    else:
        return c

enter the a value is:10
enter the b value is:20
enter the c value is:15

In [ ]:
def find_greatest(a, b, c):
    return max(a, b, c)

In [ ]:
def quiz(ques):
  if ques== "Delhi":
     print("You are correct")
  else:
     print("You are wrong")

QUE= input("what is the capital of India? ")

quiz(QUE)

what is the capital of India? Delhi
You are correct

In [ ]:
#Make a calculator using function

def add(a,b):
  return a+b

def sub(a,b):
  return a-b

def mul(a,b):
  return a*b

def div(a,b):
  return a/b


value_1 = int(input("Enter the first value : "))
value_2 = int(input("Enter the second value : "))
operation = input("Enter the operation : ")

if operation == "+":
  result = add(value_1, value_2)
  print(result)

elif operation == "-":
  result = sub(value_1, value_2)
  print(result)

elif operation == "*":
  result = mul(value_1, value_2)
  print(result)

elif operation == "/":
  result = div(value_1, value_2)
  print(result)

else:
  print("Invalid operation")

Enter the first value : 20
Enter the second value : 10
Enter the operation : /
2.0

In [ ]:
#Modules :  Module is a python file containing functions, classes or variables that you can import and reuse in other python programs
# 2types : Built in module, user defined modules

#Built-in modules : math, datetime, random


import math

print(math.sqrt(16))

print(math.pi)

print(math.factorial(10))

4.0
3.141592653589793
3628800

In [ ]:
import random

#print(random.randint(11,20))
print(random.choice([1,2,3,4,5]))

1

In [ ]:
import datetime


print(datetime.datetime.now())

2025-08-06 05:59:27.338626

In [ ]:
%%writefile sunita.py
#create a file with .py extension

def greet(name):
  return f"Hi, {name}"

def mul(a,b):
  return a*b

def div(a,b):
  return a/b

Overwriting sunita.py

In [ ]:
import sunita

print(sunita.greet("Astha"))

print(sunita.mul(10,20))

print(sunita.div(20,10))

Hi, Astha
200
2.0